form { color: #ddd; }

input[type=text], input[type=password], input[type=email], input[type=number], textarea
{
	background-color: #1f2a39;
	color: white;
	font-size: 120%;
	font-family: 'Exo';
	padding: 1%;

	border: none;
	transition: 0.4s;
}

label { text-align: left; }

label + * { margin-top: 10px; }
input + * { margin-top: 30px; }
form + * { margin-top: 20px; }
