body
{
	background: url('../assets/background.png');
	background-repeat: repeat;
}

h1
{
	color: #0dd8ee;
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 2%;
}

.dialog
{
	background-color: #181d25;
	border-radius: 5px;
	color: white;
	padding-bottom: 2%;
}
