@font-face
{
	font-family: 'xeq-font';
	src: url('../assets/xeq-font.ttf');
}

[class*="icon"]::before
{
	font-family: 'xeq-font';
}

.icon-logout::before
{
	content: 'a';
	vertical-align: middle;
}

.icon-login::before
{
	content: 'b';
	vertical-align: middle;
}

.icon-check::before { content: 'c'; }
.icon-trash::before { content: 'd'; }
.icon-rss::before
{
	vertical-align: middle;
	content: 'e';
}
