@font-face
{
	font-family: 'xeq-font';
	src: url('../assets/xeq-font.ttf');
}

[class*="icon"]::before
{
	font-family: 'xeq-font';
}

.icon-logout::before { content: 'a'; }
.icon-login::before { content: 'b'; }
.icon-check::before { content: 'c'; }
.icon-trash::before { content: 'd'; }
.icon-rss::before { content: 'e'; }
.icon-upload::before { content: 'f'; }
.icon-js::before { content: 'h'; }
.icon-image::before { content: 'g'; }
.icon-plus::before { content: 'k'; }
.icon-play::before { content: 'i'; }
.icon-star::before { content: 'l'; }

.icon-play::before, .icon-rss::before, .icon-login::before, .icon-logout::before, .icon-plus::before
{
	vertical-align: middle;
}
