.loader
{
	border: 15px solid #1f2a39;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border-top: 15px solid #16c0d1;
	border-bottom: 15px solid #16c0d1;
	margin: auto;
	display: block;

	-webkit-animation: spin 2s infinite;
	animation: spin 2s infinite;
}

@-webkit-keyframes spin
{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}


@keyframes spin
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
